{% extends "base.html" %} {% block content %}
{% load static %}

<div class="d-flex justify-content-center mt-5 row gx-0 overflow-hidden">
  <div class="d-flex bg-white shadow p-5 flex-column col-lg-3 col-12">
    <div class="fs-2 font-medium text-center mb-5">Вход</div>
    <form class="d-flex gap-4 flex-column" method="post" action="{% url 'login' %}">
      {% csrf_token %} {% for field in form %}

      <div class="d-flex gap-2">
        {{ field.label_tag }} {{ field }} {% if field.errors %}
        <div class="d-flex text-danger">
          {% for error in field.errors %}
          <div>{{error}}</div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {% endfor %} {% if form.errors %}
      <p class="text-danger">Неверное имя пользователя или пароль</p>
      {% endif %}
      <button type="submit" class="btn btn-lg btn-danger rounded-pill">Войти</button>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
  <div class="col-lg-6 col-12 p-0">
    <img class="img-fluid" src="{% static 'images/bpoo.chrge.ru_.png' %}" alt="">
  </div>
</div>

{% endblock %}
